@font-face {
	font-family:  'zwei';
	src: url('../css/Zwiebelfisch.ttf')
}

html,body{
	height:100%;
	margin:0;
}

/*OPENING PAGE*/
  #triangle-up {
	width: 0;
	height: 0;
	border-left: 100vw solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 100vh solid darkblue;
	transition: 2s ease-in-out;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
  }
  
  #triangle-down {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 100vw solid transparent;
	border-top: 100vh solid rgb(186,242,239);
	transition: 2s ease-in-out;
	float: left;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
  }
  
  #startButton {
	position: fixed;
	z-index: 2;
	opacity: 1;
	width: 80px;
	height: 80px;
	bottom:45%;
	left: calc(48%);
	background-color: rgb(242, 243, 255);;
	border: solid;
	border-width:3px;
	border-color:black;
	border-radius: 50%;
	font-family: 'zwei';
	line-height:0;
	color: black;
	font-size: 48px;
	cursor: pointer;
	box-shadow: 0 0 13px 0 rgb(46, 1, 77);
  }
  
  #startButton:focus {
	outline: 0;
  }
  
  #startButton:hover {
	transform: scale(1.2);
	transition: .3s ease-in-out;
  }
  

  .krassInefade {
	transform: perspective(900px) translateZ(0px);
	opacity: 1;
	transition: 2s ease-out;
  }
  
  #triangle-down.usenand {
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-top: 100vh solid  darkblue;
	transition: 2s ease-in-out;
  }
  
  #triangle-up.usenand {
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 100vh solid rgb(186,242,239);
	transition: 2s ease-in-out;
  }

/*CONTENT OF THE PROFILE*/  
#page {
	display:flex;
	background: linear-gradient(120deg,  rgb(186,242,239), white,rgb(220,243,255), rgb(186,242,239));
	flex-direction:column;
	align-items:center;
	width: 100%;
	min-height:100%;
	background-size:100%;
  }

/*Profile Bar*/
#introBox{
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
	padding-top:10px;
}
#idBox {
	display:flex;
	justify-content:space-around;
	width:100%;
	align-items:center;
}

.introLines {
	font-size:40px;
	font-family: 'Istok Web', sans-serif;
	color:rgb(242, 243, 255);
	width:250px;
	text-align:center;	
}
#name, #title {
	display:none;
	font-size:24px;
	font-family: 'Istok Web', sans-serif;
	color:rgb(242, 243, 255);
	width:400px;
	text-align:center;	
}

#name {
	padding-left:50px;
}

#title {
	padding-right:50px;
}


#profileBox{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	width:100%;
	margin-bottom:40px;
	border-color:black;
	border-width:2px;
	border-style:solid;
	background: linear-gradient(60deg,black, darkblue, rgb(11, 43, 158), darkblue);
	background-size:contain;
	background-repeat:no-repeat;
	background-size:100%;
}

#profilePic{
	border-radius:50%;
	border-color:rgb(51,51,51);
	border-width:3px;
	border-style:solid;
	max-height:200px;
	margin-top:20px;
	box-shadow:
	0 0 30px 5px rgb(186,242,239);  /* inner rgb(242, 243, 255); */
}

/*Buttons*/
.buttonRow {
	display:flex;
	justify-content: center;
	width: 100%;
	margin:auto auto 0 auto;
	padding:20px;
}

#bioButton, #galleryButton, #contactButton{
	width:100px;
	max-height:36px;
	margin-left:10px;
	margin-right:10px;
	border-radius:20px;
	border-style:solid;
	border-width:1px;
	transition: all 0.3s ease-in-out;
	font-family: 'Istok Web', sans-serif;
	font-weight:bold;
	font-size: 18px;
	background: linear-gradient(120deg,  white,rgb(220,243,255));
	color:black;
}

#bioButton:hover{
	box-shadow: 
		/* inset 2px 2px 2px rgba(255, 255, 255, .4), 
		inset -2px -2px 2px rgba(0, 0, 0, .4), */
		-20px 24px 24px 0px rgba(0,0,0,0.24), 0 34px 50px 0px rgba(0,0,0,0.19);
	cursor:pointer;
	transform: scale(1.1);
}

#galleryButton:hover {
	box-shadow: 
		/* inset 2px 2px 2px rgba(255, 255, 255, .4), 
		inset -2px -2px 2px rgba(0, 0, 0, .4), */
		0px 24px 24px 0px rgba(0,0,0,0.24), 0 34px 50px 0px rgba(0,0,0,0.19);
	cursor:pointer;
	transform: scale(1.1);
}

#contactButton:hover {
	box-shadow: 
		/* inset 2px 2px 2px rgba(255, 255, 255, .4), 
		inset -2px -2px 2px rgba(0, 0, 0, .4), */
		30px 24px 24px 0px rgba(0,0,0,0.24), 0 34px 50px 0px rgba(0,0,0,0.19);
	cursor:pointer;
	transform: scale(1.1);
}

/*Bio*/
#bio{
	display:none;
	flex-direction:column;
	align-items: center;
	border-color:black;
	border-width:2px;
	border-style:solid;
	width:70%;
	max-width:800px;
	margin-bottom:40px;
	border-radius:10px;
	background: linear-gradient(120deg,black, rgb(4, 17, 61),rgb(6, 24, 83), rgb(4, 17, 61));
	color: rgb(220,243,255);
	font-size:16px;
	text-align:center;

}

#bioPic{
	width:200px;
	border-radius:50%;
	margin-top:30px;
	border-radius:50%;
	border-color:rgb(51,51,51);
	border-width:3px;
	border-style:solid;
	width:200px;
	box-shadow:
	0 0 10px 2px rgb(255, 255, 255),
	0 0 30px 5px rgb(186,242,239);

}

#topQuote{
	margin-top:40px;
	margin-left:60px;
	margin-right:60px;
	font-style:italic;
}

#botQuote{
	margin-bottom:30px;
}

.text{
	margin-bottom:40px;
	margin-left:60px;
	margin-right:60px;
	text-align:left;
	font-family: 'Istok Web', sans-serif;
}

/*Gallery*/
#gallery{
	display:flex;
	justify-content:center;
	margin-bottom:40px;
	max-width:1000px;
	width:90%;
	display:none;
}

.row{
	display:flex;
	justify-content:space-around;
}

.box{
	display:flex;
	align-items:center;
	flex-direction:column;
	width: 33%;
	margin-top:20px;
}

.content{
	display:flex;
	flex-direction:column;
	width:90%;
	background: linear-gradient(120deg,black, rgb(4, 17, 61),rgb(6, 24, 83), rgb(4, 17, 61));
	color: rgb(220,243,255);
	border-style:solid;
	border-width:2px;
	border-color:rgb(51,51,51);
	border-radius:20px;
	display:none;
}

.textBox{
	padding:10px;
	flex:1;
}

.iconRow{
		display:flex;
		justify-content: center;
		width: 100%;
		margin:auto auto 0 auto;
		padding-bottom:20px;
}

.coverWrap{
	display:flex;
	flex-direction:column;
}

.coverLabel{
	display:inline-block;
	position:relative;
	width:100%;
	height:40px;
	text-align:center;
	margin-bottom:20px;
	background: linear-gradient(120deg,black, rgb(4, 17, 61),rgb(6, 24, 83), rgb(4, 17, 61));
	color: rgb(220,243,255);
	font-family: 'Istok Web', sans-serif;
	font-size:22px;
	line-height:36px;
	border-width:3px;
	border-style:solid;
	border-color:rgb(51,51,51);
	border-radius:20px;
}

.cover{
	transition: all 0.3s ease-in-out;
	height:200px;
	width:250px;
	border-radius:15px;
	border-width:3px;
	border-style:solid;
	border-color:rgb(51,51,51);
	margin-bottom:30px;

}
.cover:hover {
	transform: scale(1.1);
	box-shadow: 20px 24px 32px 0 rgba(0,0,0,0.24), 0 34px 100px 0 rgba(0,0,0,0.19);
}


.codeButtons, .pageButtons{
	max-height:50px;
	min-height:50px;
	border-radius:12px;
	border-style:solid;
	border-width:3px;
	border-color:rgb(220,243,255);
	margin-left:30px;
	margin-right:30px;
}

/*Contact*/
#contact{
	display:flex;
	display:none;
	margin-bottom:40px;
	padding-bottom:20px;
	padding-top:20px;
	border-color:black;
	border-width:2px;
	border-style:solid;
	width:50%;
	max-width:800px;
	border-radius:10px;
	background: linear-gradient(120deg,black, rgb(4, 17, 61),rgb(6, 24, 83), rgb(4, 17, 61));
	color: rgb(220,243,255);
}

/*Footer*/
#footer{
	width:100%;
	height:40px;
	margin:auto auto 0 auto;
	border-color:black;
	border-top-width: 3px;
	border-style:solid;
	text-align:center;
	color:rgb(242, 243, 255);
	font-family: 'Istok Web', sans-serif;
	line-height:24px;
	font-size:16px;
	background: linear-gradient(60deg,black, rgb(4, 17, 61),rgb(7, 28, 100), rgb(4, 17, 61));
	padding-top:6px;
}

/*MEDIA QUERIRES*/
@media screen and (max-width: 980px) {
	.cover{
		align-self:center;
	}
	.box, .content{
		height:100%
	}
	#project1Box, #project3Box{
		flex-direction:column-reverse;
	}
	#project2Box {
		flex-direction:column;
	}
	#project1Content, #project2Content, #project3Content {
		margin: 20px 0px 20px 0px;
	}
	#startButton{
		left: calc(46%);
	}
}
@media screen and (max-width: 840px) {
	.row{
		flex-direction:column;
		justify-content:center;
		margin:0;
		width:100%;
	}
	.box{
		width:100%;
	}
	.content{
		width:80%;
	}
	#bioButton, #galleryButton, #contactButton {
		font-size:16px;
		width:80px;
	}
	#profilePic{
		width:150px;
	}
	.introLines{
		font-size:36px;
	}
	#name,#title{
		font-size:16px;
	}

	#name{
		padding-left:10px;
	}
	#title{
		padding-right:10px;
	}

	#bio{
		width:85%;
	}
	#bioPic{
		float:none;
	}
}	



@media screen and (max-width: 700px) {

	#profilePic{
		width:100px;
	}
	.introLines{
		font-size:30px;
	}
	#name,#title{
		font-size:12px;
	}
	#bioButton, #galleryButton, #contactButton {
		font-size:12px;
		width:70px;
		height:24px;
	}
	#startButton{
		left: calc(45%);
	}

} 

@media screen and (max-width: 550px) {
	.introLines{
		font-size:24px;
	}
	.buttonRow{
		padding:10px;
	}
	#bioButton, #galleryButton, #contactButton {
		margin:3px;
	}
	#startButton{
		left: calc(44%);
	}
}

@media screen and (max-width: 400px) {
	#profilePic{
		width:75px;
	}
	#bioButton, #galleryButton, #contactButton {
		font-size:12px;
		width:50px;
		margin:3px;
	}
	#startButton{
		left: calc(39%);
	}
}